<alerts-comp></alerts-comp>
<div class="homepanel-container col-sm-4 col-lg-3">
  <div class="homepanel-banner"></div>
  <form ng-submit="homeComp.search()" class="search-form">
    <div class="search">
      <input type="text" placeholder="search machines or users" ng-model="homeComp.query">
      <button class="fa fa-search search-button"></button>
    </div>
  </form>
  <div class="homepanel-news">
    <p>stuff, man</p>
  </div>
</div>

<div class="gallery-container col-sm-8 col-lg-9">
  <div class="col-sm-4 col-lg-3 machine-well"
      ng-repeat="machine in homeComp.machines | filter:homeComp.query">
    <div class="thumbnail" id="thumbnail-{{machine._id}}" ui-sref="machineState({id: machine._id})">
      <thumbnail-comp machine="machine"></thumbnail-comp>
      <!-- <canvas id="canvas-{{$index}}" class="thumbnail-canvas"
              width="{{homeComp.thumbnailW}}"
              height="{{homeComp.thumbnailH}}"></canvas> -->
    </div>
    <div class="caption">
      <a ui-sref="machineState({id: machine._id})">
        <h4>{{machine.name}}</h4>
      </a>
      <p>built by <a ui-sref="">{{machine.user.name}}</a></p>
    </div>
  </div>
</div>
