<alerts-comp></alerts-comp>

<div class="col-sm-12 gallery-container">
  <div class="well machine-well" ng-repeat="machine in homeComp.machines track by $index">
    <div class="thumbnail" id="thumbnail-{{machine._id}}">
      <thumbnail-comp machine="machine"></thumbnail-comp>
      <!-- <canvas id="canvas-{{$index}}" class="thumbnail-canvas"
              width="{{homeComp.thumbnailW}}"
              height="{{homeComp.thumbnailH}}"></canvas> -->
    </div>
    <div class="caption">
      <a ui-sref="machineState({id: machine._id})">
        <h3>{{machine.name}}</h3>
        <p>made by {{machine.user.name}}</p>
      </a>
    </div>
  </div>
</div>

<!-- <div class="col-sm-4 home-search-container">
    <form ng-submit="homeComp.search()">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="search" ng-model="homeComp.query" />
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default search-button" data-toggle="collapse" data-target="#nav-collapse-target">
            Search
          </button>
        </span>
      </div>
    </form>
</div> -->
