navbar-comp .navbar{
  background-color: white;
  color: grey;
  box-shadow: 0px 1px 5px lightgrey;
  padding-bottom: 5px; 
}

.navbar .container{
  padding-left: 0px;
}

.nav-search-submit{
  display: none;
}

.navbar-header img{
  height: 50px;
  float: left;
  margin-right: 5px;
}

#nav-collapse-target{
  display: flex;
  justify-content: center;
}

.navbar-form{
  padding-top: 5px;
}

.logo-link a{
  line-height: 50px;
  margin-top: -10px;
}

.alerts-div{
  margin-top: -20px;
  min-height: 20px;
  background-color: white;
  width: 100vw;
}

.alert-alert{
  margin-bottom: 0;
}

footer-comp{
  position: relative;;
  bottom: 0;
  width: 100%;
}

.footer{
  width: 100%;
  margin-top: 40px;
  /*color: white;*/
}

.footer-body{
  /*background-color: #555;*/
  min-height: 100px;
}

.footer-footer{
  /*background-color: #444;*/
  min-height: 50px;
}

.resources{
  padding-bottom: 10px;
}

.contributors{
  padding-bottom: 10px;
}

.mongo-logo, .express-logo, .angular-logo, .node-logo{
  width: 80px;
  padding-right: 10px;
}
