  body {
  line-height: normal;
  padding-top: 50px;
  min-height: 100vh;
  font-family: 'Ubuntu', sans-serif;
}

.search-form {
  width: 100%;
}

.search {
  position: relative;
  color: #aaa;
  font-size: 16px;
}

.search input {
  width: 100%;
  height: 32px;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  border-bottom: 1px solid #aaa;
}

input:focus {
  outline: none;
}

.search .search-button {
  position: absolute;
  height: 31px;
  top: 0;
  right: 0;
  border: none;
  background: none;
}

.search .search-button:active {
  padding-top: 5px;
  padding-right: 8px;
}

.search-button:focus {
  outline: none;
}

.homepanel-news {
  margin: 20px 0;
}

.gallery-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.machine-well {
  padding: 2px 0;
}

.thumbnail {
  margin: 0;
  border-radius: 0;
}

.thumbnail-canvas {
  border: none;
  width: 100%;
}

.caption {
  padding: 10px;
}

nav {
  background-color: white;
  border-bottom: 1px solid #aaa;
}

.grey {
  color: grey;
}

.grey:hover {
  color: #009999;
}

.ui-view-div {
  min-height: calc(100vh - 290px);
  margin: 10px 0;
}

.unfocus-body {
  position: fixed;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  background-color: rgba(150, 150, 150, 0.1);
}

.auth-container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.auth-form {
  width: 30%;
  margin: 4%;
}

.auth-divide {
  height: inherit;
  border: 1px solid #aaa;
}

.alert-alert {
  margin: 0 auto;
}

#sandbox-name {
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  border-bottom: 1px solid #aaa;
  height: 40px;
  width: 80%;
  font-size: 30px;
}

#sandbox-form {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sandbox-form button {
  height: 3.5rem;
}

.sandbox-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 5px;
}

.asset-panel {
  width: 100%;
  display: flex;
}

.input-group {
  margin: 2%;
  width: 94%;
}

.asset-settings {
  width: 100%;
}

.asset-labels {
  display: flex;
  justify-content: space-between;
}

.asset-settings input[type="range"] {
  text-align: right;
  width: 100%;
}

.undo-button {
  width: 100%;
  margin: 10px auto;
}

#canvas-stage {
  /*display: inline-block;*/
  position: relative;
}


/*#canvas-stage>canvas {

}*/

#canvas-stage #preview-canvas {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
}

#tool-box {
  width: 30%;
  display: inline-block;
}

#tool-box ul, ol {
  padding-left: 2rem;
}

.tool-box-btn-1 {
  width: 100%;
  margin-top: 5px;
  text-align: left;
  height: 4rem;
}

#tool-box .panel-danger {
  margin-top: 5px;
}

canvas {
  border: 1px solid #aaa;
  /*display: inline;*/
}

canvas:active {
  cursor: pointer;
  cursor: -webkit-grabbing;
}

@media(max-width: 768px) {
  .ui-view-div {
    min-height: calc(100vh - 380px);
  }
}

@media(max-width: 1300px) {
  .media-heading {
    font-size: 14px;
  }
