<div class="sandbox-row">
  <div id="stage">
    <h1 id="machine-name">{{machineComp.machine.name}}</h1>
    <div id="machine-stage">
    </div>
  </div>

  <div id="machine-box">
    <!-- <div class="checkbox">
      <label><input type="checkbox" ng-model="sandboxComp.oneAtATime">Open only one at a time</label>
    </div> -->
    <uib-accordion close-others="sandboxComp.oneAtATime">
      <div uib-accordion-group class="panel-default" is-open="status.open" ng-click="">
        <uib-accordion-heading>
          machine stats <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': asset.active, 'glyphicon-chevron-right': !asset.active}"></i>
        </uib-accordion-heading>
        <p>originally made by {{machineComp.machine.user.name}}</p>
        <p>## of people have forked this</p>
        <button ng-if="machineComp.userMatch" class="btn btn-info undo-button"
            ui-sref="sandboxState({id: machineComp.machine._id})">
          edit this in sandbox</button>
        <div class="asset-panel">
          <div class="asset-diagram">
          </div>
          <div class="asset-settings">
          </div>
        </div>
        <!-- <button class="btn btn-warning info" ng-click="">go to profile</button> -->
      </div>
      <button class="btn btn-info tool-box-btn-1 panel-heading" ng-click="machineComp.resetMachine()">
        <h4 class="panel-title">reset machine</h4>
      </button>
      <button class="btn btn-primary tool-box-btn-1 panel-heading" ng-click="">
        <h4 class="panel-title">fork machine</h4>
      </button>
    </uib-accordion>

  </div>

</div>
